//colors
$link: #51ddfc; //for the .link class
$col1: #927bc1; //color theme for 1st column
$hoverLink: #58e1c1; //background color for the navigation links when they are in the hover state
$err: #e4757a; //color for the .error class
$info: #927bc1; //color for the .info class

//media query breakpoint
$mnWidth: 768px;
